.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  width: 80%;
}

.images-column-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-name-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.test-row {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.another-row {
  display: flex;
}

.socials-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.socials-image-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .content-row {
    display: flex;
  }

  .input {
    width: 25%;
  }

  .images-column-full {
    flex-basis: calc(100%/3);
  }

  .nav-row {
    justify-content: space-between;
  }

  .image-wrapper {
    width: 70%;
  }

  .content-container {
    width: 1600px;
    margin: auto;
  }

  .socials-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150%;
  }

  .socials-row {
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
  }

  .socials-image-wrapper {
    width: 50%;
    flex-basis: calc(50%);
  }

  .test-row {
    width: 70%;
  }
}
